*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color: white;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: black;
}

#nav{
    /* background-color: rgb(235, 115, 16); */
    display: flex;
    align-items:center ;
    justify-content: space-between;
    padding: 30px;
}

#part{
    display: flex;
    gap: 50px;
}

h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 80px;
    white-space: nowrap;
}